$primary-color: #3f7cac;
$secondary-color: #f89c7d;
$white: #fcfaf6;
$black: #1e2223;
$gray: lighten($black, 10%);
$light-gray: lighten($gray, 25%);
$dark-gray: darken($gray, 10%);

// $shadow: 0 0 15px transparentize($black, .25);



$shadow:    0px 10px 15px rgba(0, 255, 0, .15),
            0px 20px 15px rgba(225, 0, 0, .10),

            0px -10px 15px rgba(255, 0, 0, .15),
            0px -20px 15px rgba(0, 255, 0, .10),

            10px 0px 15px rgba(255, 255, 0, .15),
            20px 0px 15px rgba(0, 255, 255, .10),

            -10px 0px 15px rgba(0, 255, 255, .15),
            -20px 0px 15px rgba(255, 255, 0, .10),

            0px 0px 10px rgba(0, 0, 0, .25);

$shadow-inset:      inset 0px 25px 25px -15px rgba(0, 255, 0, .15),
                    inset 0px 50px 25px -15px rgba(225, 0, 0, .10),

                    inset 0px -25px 25px -15px rgba(255, 0, 0, .15),
                    inset 0px -50px 25px -15px rgba(0, 255, 0, .10),

                    inset 25px 0px 25px -15px rgba(255, 255, 0, .15),
                    inset 50px 0px 25px -15px rgba(0, 255, 255, .10),

                    inset -25px 0px 25px -15px rgba(0, 255, 255, .15),
                    inset -50px 0px 25px -15px rgba(255, 255, 0, .10);

@mixin image-overlay {
    &::before {
        content: '';
        display: block;
        background-color: transparentize($dark-gray, .75);
        background-image: url('images/screendoor.png');
        opacity: .5;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: 1;
        background-position: center center;
    }
}
