body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;

    .header, .page-content, .footer {
        width: 100%;
    }

    .page-content {
        flex: 1;
    }

    .footer {
        align-self: flex-end;
    }
}

$container-width: 80vw;
$spacing: 3vw;

@mixin container() {
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing;
    padding-right: $spacing;

    @include tablet-break {
        max-width: 100vw;
    }
}

@mixin grid() {
    display: flex;
    padding-left: $spacing;
    padding-right: $spacing;
}

@mixin grid--container() {
    @include container;
}

.grid {
    @include grid;
}

.grid--container {
    @include container;
}
