@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500,700");

@mixin body-font() {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

@mixin header-font() {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

@mixin nav-font() {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

@mixin text-link {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: $secondary-color;
    }
}

@mixin strikethrough {
    display: flex;
    flex-direction: row;
    align-items: center;

    &::before, &::after {
        content: '';
        display: block;
        flex: 1;
        height: .125em;
        background: currentColor;
    }

    &::before {
        margin-right: .5em;
    }
    &::after {
        margin-left: .5em;
    }
}

body {
    @include body-font;
    font-size: 18px;
}

p {
    font-size: 1.25em;
    line-height: 2em;
}

.portfolio__h1 {
    @include header-font;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    @include header-font;
    color: $primary-color;
    font-size: 3.5em;
}

h3 {
    @include header-font;
    color: $light-gray;
    font-size: 2.5em;
}

h4 {
    @include body-font;
    color: $gray;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
}

.header {
    .nav__link {
        a {
            @include nav-font;
            font-size: 1.5em;
            color: $black;

                &:hover {
                    color: $light-gray;
                }
            }

            &.current-menu-item a {
                color: $secondary-color;
            }

            &.current-page-ancestor a {
                color: $secondary-color;
            }

            &.current_page_parent a {
                color: $secondary-color;
            }
        }

        .subnav__link {
            a {
                color: $white;
                font-size: 1.25em;
            }
        }
}

.banner {
    h1.banner__header {
        @include header-font;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 6em;
        letter-spacing: .025em;
        color: $white;
        text-shadow: $shadow;
    }

    .swiper-button-prev, .swiper-button-next {
        @include nav-font;
        color: $white;
        background-color: $gray;
        font-size: 1em;
        cursor: pointer;

        &:hover {
            color: $secondary-color;
        }

        @include large-break {
            background-color: transparent;
            color: $white;
        }

        @include tablet-break {
            display: none;
        }
    }
}

.excerpt {
    .excerpt__title {
        @include header-font;
        text-decoration: none;
        font-size: 2em;
        color: $white;

        a {
            @include text-link;
        }
    }

    .excerpt__date {
        @include body-font;
        font-size: .8em;
        color: $white;
        font-weight: bold;
    }

    .excerpt__tag {
        @include body-font;
        color: $light-gray;
    }

    .excerpt__link {
        @include text-link;
        @include nav-font;
        font-size: 1.5em;

        &::after {
            content: ' ▸▸';
        }
    }
}

.single {
    .meta {
        color: $light-gray;
    }

    .back__blog {
        @include text-link;
        @include nav-font;
        font-size: 1.5em;
        margin: 0 auto;

        &::before{
            content: ' ▸▸';
            display: inline-block;
            position: relative;
            top: .025em;
            transform: rotate(180deg);
        }
    }
}

.footer {
    .nav__link a {
        @include nav-font;
        color: $white;
        font-size: 2em;
    }

    .footer__legal {
        @include header-font;
        font-size: .9em;
    }
}
