<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/error404">
    {% endif %}

    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="{{site.theme.link}}/assets/js/swiper.js"></script>
	<script src="{{site.theme.link}}/assets/js/swiperInit.js"></script>
</head>
