.page-content.blog-list {
    @include grid;
    // display: block;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: $spacing/2;

    .excerpt__block-link {
        width: 50%;
        padding: $spacing/2;
        float: left;
        cursor: pointer;

        @include tablet-break {
            width: 100%;
            margin-bottom: 2*$spacing;
        }
    }

    .excerpt {
        display: block;

        @include tablet-break {
            width: 100%;
        }

        .excerpt__header {
            padding: (5*$spacing) $spacing ($spacing/2) $spacing;
            margin-bottom: $spacing;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            @include image-overlay;

            @include tablet-break {
                padding-top: 10*$spacing;
            }

            & > * {
                position: relative;
                z-index: 5;
                text-shadow: $shadow;
            }

            .meta {
                margin-bottom: ($spacing/4);
            }

            .excerpt__title {
                margin-bottom: 0;
            }
        }

        .excerpt__body {
            padding: 0 $spacing  $spacing $spacing;

            .excerpt__text {
                margin-bottom: ($spacing/2);
            }

            .excerpt__link {
                text-decoration: none;

                @include tablet-break {
                    display: block;
                    text-align: center;
                }
            }
        }

        &:hover, &:active {
            position: relative;
            top: -1.25px;
            box-shadow: $shadow;

            .excerpt__header {

                &::before {
                    background-color: $secondary-color;
                }
            }
        }
    }
}

.blog-post {
    .meta {
        margin-bottom: (2*$spacing);
        text-align: center;

        .meta__date {
            @include strikethrough;
            margin-bottom: $spacing;
        }
    }
}

.meta {
    margin-bottom: ($spacing/4);

    .meta__date {
        &::after {
            content: '|';
            margin: 0 .5em;
        }
    }

    .meta__tag {
        &::after {
            content: ', ';
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}
