.page-content.blog-post {
    .meta {
        margin-bottom: (2*$spacing);
        text-align: center;
        color: $light-gray;

        .meta__date {
            @include strikethrough;
            margin-bottom: $spacing;
            font-size: 1em;
        }

        .meta__tag {
            font-size: 1.25em;
        }
    }

    // p:first-of-type::first-letter {
    //     initial-letter: 3;
    //     color: $primary-color;
    //     @include header-font;
    //     float: left;
    //     font-size: 3.7em;
    //     margin:0.15em 0.125em 0 0;
    //     line-height:0.75;
    // }
}
