.page-content.blog-list {
    @include grid;
    // display: block;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: $spacing/2;

    .excerpt__block-link {
        width: 50%;
        padding: $spacing/2;
        float: left;
        cursor: pointer;

        @include tablet-break {
            width: 100%;
            margin-bottom: 2*$spacing;
        }
    }

    .excerpt {
        display: block;

        @include tablet-break {
            width: 100%;
        }

        .excerpt__header {
            padding: (5*$spacing) $spacing ($spacing/2) $spacing;
            margin-bottom: $spacing;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            @include image-overlay;

            @include tablet-break {
                padding-top: 10*$spacing;
            }

            & > * {
                position: relative;
                z-index: 5;
                text-shadow: $shadow;
            }

            .meta {
                margin-bottom: ($spacing/4);
                @include body-font;
                font-size: .8em;
                font-weight: bold;

                span {
                    color: $white;
                }
            }

            .excerpt__title {
                @include header-font;
                text-decoration: none;
                font-size: 2em;
                color: $white;
                margin-bottom: 0;
            }
        }

        .excerpt__body {
            padding: 0 $spacing  $spacing $spacing;

            .excerpt__text {
                margin-bottom: ($spacing/2);
            }

            .excerpt__link {
                text-decoration: none;
                @include text-link;
                @include nav-font;
                font-size: 1.5em;

                @include tablet-break {
                    display: block;
                    text-align: center;
                }

                &::after {
                    content: ' ▸▸';
                }
            }
        }

        &:hover, &:active {
            position: relative;
            top: -1.25px;
            box-shadow: $shadow;

            .excerpt__header {
                &::before {
                    background-color: $secondary-color;
                }

                .excerpt__title {
                    color: $white;
                }
            }

            .excerpt__body p {
                color: $primary-color;
            }

            .excerpt__link {
                color: $secondary-color;
            }
        }
    }
}

.page-content.blog-post {
    .meta {
        margin-bottom: (2*$spacing);
        text-align: center;
        color: $light-gray;

        .meta__date {
            @include strikethrough;
            margin-bottom: $spacing;
            font-size: 1em;
        }

        .meta__tag {
            font-size: 1.25em;
        }
    }

    // p:first-of-type::first-letter {
    //     initial-letter: 3;
    //     color: $primary-color;
    //     @include header-font;
    //     float: left;
    //     font-size: 3.7em;
    //     margin:0.15em 0.125em 0 0;
    //     line-height:0.75;
    // }
}

.meta {
    margin-bottom: ($spacing/4);

    .meta__date {
        &::after {
            content: '|';
            margin: 0 .5em;
        }
    }

    .meta__tag {
        &::after {
            content: ', ';
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}
