.page-content.blog-post {
    .meta {
        margin-bottom: (2*$spacing);
        text-align: center;
        color: $light-gray;

        .meta__date {
            @include strikethrough;
            margin-bottom: $spacing;
            font-size: 1em;
        }

        .meta__tag {
            font-size: 1.25em;
        }
    }

    .blog-post__excerpt {
        color: $light-gray;
        font-size: 1.5em;
        line-height: 1.75em;
        margin-bottom: 3*$spacing;
        text-align: center;
    }

    .blog-post__content {
        p:first-of-type::first-letter {
            initial-letter: 5;
            color: $white;
            background-color: $primary-color;
            padding: .33em;
            @include header-font;
            float: left;
            font-size: 4em;
            margin: -.25em .25em 0 0;
        }
    }
}
