.page-content.blog-list {
    @include grid;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: $spacing/2;

    .excerpt__block-link {
        width: 50%;
        padding: $spacing/2;
        float: left;
        cursor: pointer;

        @include tablet-break {
            width: 100%;
            margin-bottom: 2*$spacing;
        }
    }

    .excerpt {
        display: block;

        @include tablet-break {
            width: 100%;
        }

        .excerpt__header {
            padding: (5*$spacing) $spacing ($spacing/2) $spacing;
            margin-bottom: $spacing;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            @include image-overlay;

            @include tablet-break {
                padding-top: 10*$spacing;
            }

            & > * {
                position: relative;
                z-index: 5;
                text-shadow: $shadow;
            }

            .meta {
                margin-bottom: ($spacing/4);
                @include body-font;
                font-size: .8em;
                font-weight: bold;

                span {
                    color: $white;
                }
            }

            .excerpt__title {
                @include header-font;
                text-decoration: none;
                font-size: 2em;
                color: $white;
                margin-bottom: 0;
            }
        }

        .excerpt__body {
            padding: 0 $spacing  $spacing $spacing;

            .excerpt__text {
                margin-bottom: ($spacing/2);
            }

            .excerpt__link {
                text-decoration: none;
                @include text-link;
                @include nav-font;
                font-size: 1.5em;

                @include tablet-break {
                    display: block;
                    text-align: center;
                }

                &::after {
                    content: ' ▸▸';
                }
            }
        }

        &:hover, &:active {
            @include float;
            box-shadow: $shadow;

            .excerpt__header {
                &::before {
                    background-color: $secondary-color;
                }

                .excerpt__title {
                    color: $white;
                }
            }

            .excerpt__body {
                color: $primary-color;
            }

            .excerpt__link {
                color: $secondary-color;
            }
        }
    }

    .blog-pagination {
        width: 100%;
        display: flex;
        align-items: stretch;
        padding: $spacing/2;

        .blog-pagination__current {
            @include header-font;
            color: $primary-color;
            font-size: 1em;
            line-height: 1.125em;
            line-height: 0;
            padding: 0 $spacing/2;
            margin: 0 $spacing/2;
            border-left: 2px solid $primary-color;
            border-right: 2px solid $primary-color;
            display: flex;
            align-items: center;

            @include tablet-break {
                border: none;
                background-color: $primary-color;
                color: $white;
                font-size: 1.5em;
                margin: 0;
            }
        }

        .blog-pagination__prev {

            a {
                justify-content: flex-end;
                order: 1;

                &::before, &::after {
                    margin-right: $spacing/4;
                    order: -1;
                    transform:rotate(180deg)
                }
            }


            @include tablet-break {
                margin-right: $spacing/2;
            }
        }

        .blog-pagination__next {

            a {
                order: 1;
                justify-content: flex-start;

                &::before, &::after {
                    margin-left: $spacing/6;
                    order: 2;
                }
            }

            @include tablet-break {
                margin-left: $spacing/2;
            }
        }

        .blog-pagination__prev, .blog-pagination__next {
            width: 50%;
            @include nav-font;
            color: $primary-color;
            font-size: 1em;
            padding: $spacing/4 0;

            a {
                display: flex;
                align-items: center;
                text-align: center;

                &::before, &::after {
                    content: '';
                    display: block;
                    text-shadow: $shadow;
                    width: 0;
                    height: 0;
                    border-top: $spacing/5 solid transparent;
                    border-bottom: $spacing/5 solid transparent;
                    border-left: $spacing/4 solid currentColor;
                }
            }

            @include tablet-break {
                padding: 0;

                a {
                    @include button--primary;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    font-size: .75em;
                    padding: $spacing/2 0;
                }
            }
        }
    }
}
