.site.home {

    .footer {
        margin-top: 0;
    }

    .page-content {
        background-color:white;
        position:relative;
        width: 100%;
        align-items: center;
        padding: 0;
        @include grid;
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        @include tablet-break {
            padding-left: 0;
            padding-right: 0;
            display: block;
        }

        .logo-wrapper {
          background-color:$darkgrey;
          display:flex;
          justify-content:center;
          align-items:center;
          border-top:15px solid $yellow;
          width: 100%;

            .whitelogo {
              color:white;
              padding:55px;
              font-size:1.5em;
              font-weight:900;

                  svg {
                    display:block;
                    margin: 0 auto;
                    width:52%;

                  }

                  p {
                    margin-bottom:0;
                    text-align:center;

                  }
              }
          }

          .homepage-column {
              flex: 1;
              border-right: 1px solid $white;

              &:last-child {
                  position: relative;
                  border-right: none;

                  &::after {
                      content: '';
                      display: block;
                      position: absolute;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      background-image: url('/assets/images/site-assets/dot.svg');
                      background-size: 2px;
                      opacity: .125;
                  }
              }

              &__header {
               font-size:1.5em;
               text-align: center;
               text-decoration:none;
               color:#2a2a2a;
               font-weight:900;
               background-color:$yellow;
               display:block;
               padding-top:10px;
               padding-bottom:10px;
               transition:.2s;
               position: relative;
               z-index: 1;

                   &:hover{
                    color:white;
                    background-color:darken($yellow, 05%);
                   }

              }

              &__links {
                  display: flex;
                  flex-direction: column;
                  padding: 50px 50px 0 50px;
                  position: relative;
                  z-index: 1;
              }

              &__link {
                  font-size: 1em;
                  font-weight: bold;
                  text-transform: uppercase;
                  color:$darkgrey;
                  text-decoration:none;
                  padding-top:5px;
                  padding-bottom:5px;
                  text-align: center;
                  transition: .1s;
                  margin-bottom: 50px;


                  &:hover {
                      color: $yellow;
                  }
              }
          }
    }
}
