.site.home {

    .header {

        .header--main {
            display: none;
        }

        @include tablet-break {
            .header--main {

                position: absolute;
                width: 100%;

                .navicon--wrap{
                    .navicon, .navicon::before, .navicon::after {
                        background: $secondary-color;
                    }

                    &.open .navicon {
                        background: none;
                    }
                }
            }
        }
    }

    .page-content {
        height: 80vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        align-items: center;
        padding: 0;
        @include grid;
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        @include image-overlay;

        @include phone-break {
            height: 70vh;
        }

        &::before {
            z-index: 2;
        }

        .homepage__logo {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 50vw;
            height: 50vh;
            margin: 15vh 25vw;
            cursor: pointer;

            @include phone-break {
                width: 100vw;
                margin: 10vh 0;
            }

            svg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                display: block;

                path.initials {
                    display: none;
                }

                &:nth-child(1) {
                    z-index: 5;
                    opacity: 0;
                }

                &:nth-child(2) {
                    z-index: 4;

                    path.logo, tspan {
                        fill: $secondary-color;
                    }

                    tspan {
                        fill: $white;
                    }
                }

                &:nth-child(3) {
                    z-index: 3;
                    path.logo, tspan {
                        fill: cyan;
                    }
                }

                &:nth-child(4) {
                    z-index: 2;
                    path.logo, tspan {
                        fill: red;
                    }
                }
            }

            &:hover {
                svg {
                    &:nth-child(1) {
                        opacity: 0.125;
                    }

                    &:nth-child(2) {

                        path.logo, tspan {
                            fill: $white;
                        }
                    }

                    &:nth-child(3) {
                        right: -1px;
                        filter: blur(2px);
                    }

                    &:nth-child(4) {
                        left: -1px;
                        filter: blur(2px);
                    }
                }
            }

            @include phone-break {
                svg {
                    path.logo, text.tagline {
                        display: none;
                    }

                    path.initials {
                        display: block;
                        fill: $white;
                    }
                }
            }
        }

        .swiper-wrapper {
            .swiper-slide {
                background-size: cover;
                background-position: center center;
            }
        }

        .swiper-pagination {
            position: absolute;
            bottom: $spacing/2;

            .swiper-pagination-bullet {
                height: $spacing/2;
                width: $spacing/2;
                border-radius: $spacing/4;
                background-color: $secondary-color;

                &-active {
                    background-color: $primary-color;
                }
            }
        }
    }
}
