.site {
    background: $white;
}

.page-content {
    flex-direction: column;
    position: relative;
    background: $white;
    padding-bottom: (4*$spacing);
    @include grid--container;
    display: block;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        margin-bottom: $spacing/2;
    }

    p {
        margin: 0;
        margin-bottom: $spacing;

        a {
            color: $darkgrey;
            text-decoration: none;
            border-bottom: 2px $yellow dotted;

            &:hover {
                color: $darkgrey;
                border-bottom: 2px $darkgrey dotted;
            }

            @include tablet-break {
                border-bottom: 0;
                background: $yellow;
                padding: 0 .25em;
                color: $white;
                &:hover {
                    border-bottom: 0;
                    background-color: $darkgrey;
                    color: $white;
                }
            }
        }

        img.none {
            display: block;
            margin: 0 auto;
            width: auto;
            height: auto;
        }

        img.left {
            width: 50%;
        }

        img.right {
            width: 50%;
        }

        img.center {
            display: block;
            width: 100%;
            height: auto;
        }

        img.left, img.right, img.center {
            @include phone-break {
                width: 100%;
                height: auto;
            }
        }
    }
}

    .columns {
      display:flex;
      flex-direction: row;

      @include phone-break {
        display:block;
      }

      .column-left {
        flex:1;

        img {
          width:100%;
        }
      }

      .column-right {
        flex:2;
        margin-left:30px;

        @include phone-break {
          display:block;
          margin-top:25px;
        }

      }

    }
