// Portfolio Grid

@mixin grid-page-active {
    @include image-overlay;

    .portfolio-grid-block__info {
        max-height: 100%;

        .excerpt__title, .meta, .excerpt__link {
            display: block;
            color: $white;
        }
    }
}

.page-content.portfolio-list, .page-content.portfolio-list-category {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;

    p {
        width: 100%;
        @include grid--container;
    }

    .portfolio-grid {
        @include grid;
        padding: $spacing/2;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .project__block-link {
            box-sizing: border-box;
            padding: $spacing/2;
            display: block;
            flex-basis: calc(33.33333vw - #{$spacing/3});
            height: calc(33.33333vw - #{$spacing/3});

            @include tablet-break {
                flex-basis: calc(50vw - #{$spacing/2});
                height: calc(50vw - #{$spacing/2});
            }

            @include phone-break {
                flex-basis: calc(100vw - #{$spacing});
                height: calc(100vw - #{$spacing});
            }

            .portfolio-grid-block {
                display: block;
                background-size: cover;
                background-position: center center;
                overflow: hidden;
                position: relative;
                width: 100%;
                height: 100%;

                @include tablet-break {
                    @include grid-page-active;
                }

                .portfolio-grid-block__info {
                    text-shadow: $shadow;
                    position: absolute;
                    width: 100%;
                    padding: 0 5%;
                    height: 100%;
                    max-height: 33%;
                    bottom: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 100;

                    @include tablet-break {
                        max-height: 100%;
                    }
                }

                &:hover {
                    @include grid-page-active;
                }

                .excerpt__title {
                    color: $white;
                    text-align: center;
                    margin-bottom: $spacing;
                }

                .meta {
                    display: none;
                    .meta__date {
                        display: none;
                    }

                    .meta__category {
                        color: $white;
                    }
                    margin-bottom: $spacing/2;
                }

                .excerpt__link {
                    display: none;
                    color: $white;
                    font-size: 1.125em;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}

.site {
    .portfolio-list {
        .meta__tag {
            display: none;
        }
    }

    .portfolio-list-category {
        .meta__category {
            display: none;
        }
    }
}
