.order-wrapper {

    display: flex;
    .page-content > & {
        flex-direction: column;
    }

    .graphic-design {
      order: 1;
    }

    .book-arts {
      order: 2;
    }

    .illustration {
      order: 3;
    }
}


.page-content.portfolio-list, .page-content.portfolio-list-category {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    @include grid;

    p {
        width: 100%;
        @include grid--container;

    }
}

.site {
    .portfolio-list {
        .meta__tag {
            display: none;
        }
    }

    .portfolio-list-category {
        .meta__category {
            display: none;
        }
    }
}
