.site.portfolio-page {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .header {
        width: 100%;
        order: 1;
    }

    .footer {
        width: 100%;
        order: 10;

        &:first-of-type {
            box-shadow: 0 -50px 50px 15px $white;
            position: relative;
            z-index: 5;
        }
    }

    .banner--swiper {
        width: 50%;
        height: 50vw;
        order: 3;
        overflow: hidden;
        position: relative;
        z-index: 10;

        @include tablet-break {
            width: 100%;
            order: 2;
            height: 100vw;
        }

        &::after {
            display: none;
        }
    }


    .page-content.portfolio-detail {
        margin: 0;
        width: 50%;
        height: 50vw;
        overflow: scroll;
        align-self: flex-end;
        order: 2;

        @include tablet-break {
            order: 3;
            width: 100%;
            height: auto;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .portfolio__header {
            padding-top: 3*$spacing;
            padding-bottom: 4*$spacing;

            &::after {
                content: '';
                display: block;
                width: $spacing/2;
                height: $spacing/2;
                border-right: 2px solid $yellow;
                border-bottom: 2px solid $yellow;
                margin: 0 auto;
                transform: rotate(45deg);
                margin-top: $spacing;
            }

            .portfolio__h1 {
                margin: 0;
                @include header-font;
                font-size: 4em;
                text-align: center;
                text-transform: uppercase;
            }

            .meta {
                margin-top: 1em;
                text-align: center;

                .meta__date {
                    display: none;
                }

                .meta__tag {
                    font-size: 1.5em;
                    color: $darkgrey;
                }

                .meta__link {
                    display: block;
                    margin-top: .75em
                }
            }
        }
    }
}
