$primary-color: #3f7cac;
$secondary-color: #f89c7d;
$white: #fcfaf6;
$black: #1e2223;
$gray: lighten($black, 10%);
$light-gray: lighten($gray, 25%);
$dark-gray: darken($gray, 10%);

$shadow:
    2px 0px 5px rgba(0, 255, 255, 0.25),
    -3px 0px 5px rgba(255, 0, 0, 0.25);

$shadow-inset:
    inset -3px 0px 10px rgba(0, 255, 255, 0.25),
    inset 0px -3px 10px rgba(0, 255, 255, 0.25),
    inset 0px 2px 10px rgba(255, 0, 0, 0.30),
    inset 2px 0px 10px rgba(255, 0, 0, 0.30);

@mixin image-overlay {
    position: relative;
    &::before {
        content: '';
        display: block;
        background-color: transparentize($dark-gray, .75);
        background-image: url('/assets/images/site-assets/screendoor.png');
        opacity: .5;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: 1;
        background-position: center center;
    }
}
