$darkgrey: #2a2a2a;
$yellow: #ffce00;
$white: #fff;

@mixin image-overlay {
    position: relative;
    &::before {
        content: '';
        display: block;
        background-color: transparentize($darkgrey, .75);
        background-image: url('/assets/images/site-assets/screendoor.png');
        opacity: .5;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: 1;
        background-position: center center;
    }
}
