@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500,700");

@mixin body-font() {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

@mixin header-font() {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

@mixin nav-font() {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

@mixin text-link {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: $secondary-color;
    }
}

@mixin line-left {
    display: flex;
    flex-direction: row;
    align-items: center;

    &::before, {
        content: '';
        display: block;
        flex: 1;
        height: .125em;
        background: currentColor;
    }

    &::before {
        margin-right: .5em;
    }
}

@mixin line-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    &::after, {
        content: '';
        display: block;
        flex: 1;
        height: .125em;
        background: currentColor;
    }

    &::after {
        margin-left: .5em;
    }
}

@mixin strikethrough {
    @include line-left;
    @include line-right;
}

body {
    @include body-font;
    font-size: 18px;
}

p {
    font-size: 1.25em;
    line-height: 2em;

    @include tablet-break {
        font-size: 1.25em;
        line-height: 1.75em;
    }

    @include tablet-break {
        font-size: .90em;
        line-height: 2em;
    }
}

a {
    @include text-link;
}

h2 {
    @include header-font;
    color: $primary-color;
    font-size: 3.5em;

    @include tablet-break {
        font-size: 2.5em;
    }

    @include phone-break {
        font-size: 2em;
    }
}

h3 {
    @include header-font;
    color: $light-gray;
    font-size: 2.5em;

    @include tablet-break {
        font-size: 2em;
    }

    @include phone-break {
        font-size: 1.5em;
    }
}

h4 {
    @include body-font;
    color: $gray;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;

    @include tablet-break {
        font-size: 1em;
    }

    @include phone-break {
        font-size: 1em;
    }
}

.meta {
    margin-bottom: ($spacing/4);

    .meta__date {
        &::after {
            content: '|';
            margin: 0 .5em;
        }
    }

    .meta__tag {
        &::after {
            content: ', ';
        }

        &:last-of-type {
            &::after {
                display: none;
            }
        }
    }
}

.page-content p a {
    @include text-link;
    border-bottom: 2px solid $secondary-color;
    transition: 3*$transition;

    &:hover {
        color: $white;
        background-color: $secondary-color;
    }
}

.back__link {
    @include text-link;
    @include nav-font;
    font-size: 1.25em;
    margin: 0 auto;
    margin-top: 2*$spacing;
    display: block;
    text-align: center;

    &::before{
        content: ' ▸▸';
        display: inline-block;
        position: relative;
        top: .125em;
        transform: rotate(180deg);
    }
}
