@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,900,900i");

@mixin body-font() {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

@mixin header-font() {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

@mixin nav-font() {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

@mixin text-link {
    color: $darkgrey;
    text-decoration: none;

    &:hover {
        color: $yellow;
    }
}

@mixin line-left {
    display: flex;
    flex-direction: row;
    align-items: center;

    &::before, {
        content: '';
        display: block;
        flex: 1;
        height: .125em;
        background: currentColor;
    }

    &::before {
        margin-right: .5em;
    }
}

@mixin line-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    &::after, {
        content: '';
        display: block;
        flex: 1;
        height: .125em;
        background: currentColor;
    }

    &::after {
        margin-left: .5em;
    }
}

@mixin strikethrough {
    @include line-left;
    @include line-right;
}

body {
    @include body-font;
    font-size: 18px;
}

p {
    font-size: 1em;
    line-height: 2em;

    @include tablet-break {
        font-size: 1.25em;
        line-height: 1.75em;
    }

    @include tablet-break {
        font-size: .90em;
        line-height: 2em;
    }
}

a {
    @include text-link;

}

h1 {
    font-size:1.5em;
    font-weight: 900;

      &.page-title {
        font-size:1.75em;
        text-align:center;
        text-transform:uppercase;
      }
}

h2 {
    @include header-font;
    color: $darkgrey;
    font-size: 3.5em;

    @include tablet-break {
        font-size: 2.5em;
    }

    @include phone-break {
        font-size: 2em;
    }

    &.portfolio-category-header {
      font-size:1.25em;
      text-transform:uppercase;
      font-weight:900;
    }
}

h3 {
    @include header-font;
    color: $darkgrey;
    font-size: 2.5em;

    @include tablet-break {
        font-size: 2em;
    }

    @include phone-break {
        font-size: 1.5em;
    }
}

h4 {
    @include body-font;
    color: $darkgrey;
    font-weight: bold;
    font-size: 1.25em;
    line-height: 1.5em;

    @include tablet-break {
        font-size: 1em;
    }

    @include phone-break {
        font-size: 1em;
    }
}

blockquote {
    margin-top: $spacing;
    margin-bottom: $spacing;

    @include phone-break {
        margin: $spacing $spacing/4;
    }

    p {
        color: $darkgrey;
        position: relative;
        font-size: 1.25em;

        &::before {
            content: '"';
            @include header-font;
            color: $darkgrey;
            font-size: 3em;
            position: absolute;
            left: -$spacing;
        }

        @include tablet-break {
            font-size: 1.125em;
        }
    }
}

.meta {
    margin-bottom: ($spacing/4);

    .meta__date {
        &::after {
            content: '|';
            margin: 0 .5em;
        }
    }

    .meta__tag {
        &::after {
            content: ', ';
        }

        &:last-of-type {
            &::after {
                display: none;
            }
        }
    }
}

.page-content p a {
    @include text-link;
    border-bottom: 2px solid $yellow;
    transition: 3*$transition;

    &:hover {
        color: $white;
        background-color: $yellow;
    }
}

.back__link {
    @include text-link;
    @include nav-font;
    font-size: 1.25em;
    margin: 0 auto;
    margin-top: 2*$spacing;
    display: block;
    text-align: center;

    &::before{
        content: ' ▸▸';
        display: inline-block;
        position: relative;
        top: .125em;
        transform: rotate(180deg);
    }
}
