.page-content.blog {
    @include grid;
    // display: block;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: $spacing/2;

    .excerpt__block-link {
        width: 50%;
        padding: $spacing/2;
        float: left;
    }

    .excerpt {
        display: block;

        @include tablet-break {
            width: 100%;
        }

        .excerpt__header {
            padding: (5*$spacing) $spacing ($spacing/2) $spacing;
            margin-bottom: $spacing;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            @include image-overlay;

            .excerpt__meta {
                text-shadow: $shadow;
                position: relative;
                z-index: 5;
                margin-bottom: ($spacing/4);

                span {
                    &:nth-child(2) {
                        &::before {
                            content: '|';
                            margin: 0 .5em;
                        }
                    }
                }

                .excerpt__tag {
                    &::after {
                        content: ', ';
                    }

                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }
                }
            }

            .excerpt__title {
                position: relative;
                z-index: 5;
                margin-bottom: 0;
                text-shadow: $shadow;
            }
        }

        .excerpt__body {
            padding: 0 $spacing  $spacing $spacing;

            .excerpt__text {
                margin-bottom: ($spacing/2);
            }

            .excerpt__link {
                text-decoration: none;

                @include tablet-break {
                    text-align: center;
                }
            }
        }

        &:hover, &:active {
            position: relative;
            top: -1.25px;
            box-shadow: $shadow;

            .excerpt__header {

                &::before {
                    background-color: $secondary-color;
                }
            }
        }
    }
}

// .single {
//     .meta {
//         margin-bottom: (2*$spacing);
//         text-align: center;
//
//         .meta__date {
//             @include strikethrough;
//             margin-bottom: $spacing;
//         }
//
//         .tag {
//             padding: 0 .25em;
//         }
//     }
//
//     .back__blog {
//         display: block;
//         text-align: center;
//     }
// }
