// Portfolio Grid

@mixin grid-page-active {
    @include image-overlay;

    .project-grid-block__info {
        max-height: 100%;

        .excerpt__title, .excerpt__meta, .excerpt__link {
            display: block;
        }
    }
}

.page-template-grid-page-template {
    .page-content.grid {
        padding: $spacing/3;
        flex-direction: row;
        flex-wrap: wrap;

        article {
            box-sizing: border-box;
            padding: $spacing/3;
            flex-basis: 32.6666666vw;

            .project-grid-block {
                height: 30.6666666vw;
                display: block;
                background-size: cover;
                background-position: center center;
                overflow: hidden;
                position: relative;

                .project-grid-block__info {
                    text-shadow: $shadow;
                    position: absolute;
                    width: 100%;
                    padding: 0 5%;
                    height: 100%;
                    max-height: 33%;
                    bottom: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 100;
                }

                &:hover {
                    @include grid-page-active;
                }

                .excerpt__title {
                    color: $white;
                    text-align: center;
                    margin-bottom: $spacing;
                }

                .excerpt__meta {
                    display: none;
                    .excerpt__tag {
                        color: $white;
                    }
                    margin-bottom: $spacing/2;
                }

                .excerpt__link {
                    display: none;
                    color: $white;
                    font-size: 1.125em;

                    &:hover {
                        color: $white;
                    }
                }
            }

            @include tablet-break {
                flex-basis: 49vw;

                .project-grid-block {
                    height: 47vw;
                    @include grid-page-active;
                }
            }

            @include phone-break {
                flex-basis: 98vw;

                .project-grid-block {
                    height: 96vw;
                    @include grid-page-active;
                }
            }

        }
    }
}
