/* Globals */
* {
    box-sizing: border-box;
}

/* Config */
@import "config/responsive";
@import "config/colors";
@import "config/animations";
@import "config/typography";
@import "config/layout";

/* Components */
@import "components/social";
@import "components/header";
@import "components/subnav";
@import "components/banner";
@import "components/footer";

/* Pages */
@import "pages/page";
@import "pages/blog";
// @import "pages/portfolio-grid";
// @import "pages/portfolio-detail";
@import "pages/homepage";
@import "pages/404";
