<footer class="footer">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="/assets/js/swiper.min.js"></script>
	<script src="/assets/js/swiper.jquery.min.js"></script>
    <script src="/assets/js/swiperInit.js"></script>
    <script src="/assets/js/mobile-nav.js"></script>
    <script src="/assets/js/mobile-dropdown.js"></script>
    <aside class="footer--pre">
        {% include components/nav.html %}
    </aside>
    <main class="footer--main">
        footer
    </main>
    <aside class="footer--post">
        <span class="footer__legal">
            Copyright 2012 - {{ 'now' | date: "%Y" }}
        </span>
    </aside>
</footer>
