<div class="footer">

    <div class="container">
      <ul class="footermenu">
          <li><a href="create.html">PORTFOLIO</a></li>
            <li><a href="educate.html">STUDENT WORK</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="contact.html">CONTACT</a></li>
        </ul>

        <div class="circle">
        <a class="footerlogo" href="/">
            {% include svgs/logo.svg %} </a>
        </div>

    </div>

    <div class="copyright">All work &copy; Gabby Windham 2010–{{ 'now' | date: "%Y" }}</div>


</div>
