<div class="mobile-nav-overlay"></div>
<header class="header">
    <div class="header--pre">
        <ul class="utility-nav">
          <li class="link"><a href="/create/portfolio">Create</a></li>
          <li class="link"><a href="/educate/student-work">Educate</a></li>
        </ul>
    </div>
    <div class="header--main">
        <a href="/" class="header__logo">
            {% include svgs/logo.svg %}
        </a>
        {% include components/nav.html %}
        <div class="navicon--wrap js-navicon">
            <div class="navicon"></div>
        </div>
    </div>
    <div class="header--post">
    </div>
</header>
