<section class="meta">
    <span class="meta__date">{{ post.date | date: "%b %d, %Y" }}{{ page.date | date: "%b %d, %Y" }}</span>
    {% for tag in post.tags %}
            <span class="meta__tag">#{{ tag }}</span>
    {% endfor %}
    {% for tag in page.tags %}
            <span class="meta__category">#{{ tag }}</span>
    {% endfor %}
    {% for category in work.categories %}
            <span class="meta__category">#{{ category }}</span>
    {% endfor %}
    {% for tag in work.tags %}
            <span class="meta__category">#{{ tag }}</span>
    {% endfor %}
</section>
