<ul class="socials">
    <li>
        <a class="social social--codepen" href="http://codepen.io/ryanfiller89/" target="_blank">
            {% include svgs/codepen.svg %}
        </a>
    </li>
    <!-- <li>
        <a class="social social--dribbble" href="https://dribbble.com/ryanoh" target="_blank">
            {% include svgs/dribbble.svg %}
        </a>
    </li> -->
    <li>
        <a class="social social--facebook" href="https://www.facebook.com/ryan.filler" target="_blank">
            {% include svgs/facebook.svg %}
        </a>
    </li>
    <!-- <li>
        <a class="social social--flickr" href="https://www.flickr.com/photos/24046247@N06/" target="_blank">
            {% include svgs/flickr.svg %}
        </a>
    </li> -->
    <li>
        <a class="social social--github" href="https://github.com/ryanfiller89" target="_blank">
            {% include svgs/github.svg %}
        </a>
    </li>
    <li>
        <a class="social social--instagram" href="https://www.instagram.com/ryanfiller_/" target="_blank">
            {% include svgs/instagram.svg %}
        </a>
    </li>
    <li>
        <a class="social social--linkedin" href="https://www.linkedin.com/in/ryanfiller" target="_blank">
            {% include svgs/linkedin.svg %}
        </a>
    </li>
    <li>
        <a class="social social--tumblr" href="http://ryanfiller.tumblr.com/" target="_blank">
            {% include svgs/tumblr.svg %}
        </a>
    </li>
    <li>
        <a class="social social--twitter" href="https://twitter.com/ryanfiller_" target="_blank">
            {% include svgs/twitter.svg %}
        </a>
    </li>
    <!-- <li>
        <a class="social social--vimeo" href="https://vimeo.com/ryanfiller" target="_blank">
            {% include svgs/vimeo.svg %}
        </a>
    </li> -->
</ul>
