{% if page.layout == "portfolio-list" %}
      {% assign subnav = true %}
{% endif %}

{% if page.layout == "portfolio-list-filtered" %}
      {% assign subnav = true %}
{% endif %}

{% assign tags =  site.portfolio | map: 'tags' | join: ','  | split: ',' | uniq %}

{% if subnav %}
    <nav class="subnav js-subnav-mobile">
        <div class="subnav__title js-subnav-mobile-button">
            <span>Categories</span>
           <div class="subnav__dropdown--wrap">
               <div class="subnav__dropdown"></div>
           </div>
        </div>
        <ul class="subnav__list">
            {% for tag in tags %}
                <li class="subnav__link {% if page.filter == tag %}active{% endif %}">
                    <a href="/{{ tag }}/">
                        {{ tag }}
                    </a>
                </li>
            {% endfor %}
            <li class="subnav__link {% if page.filter == tag %}active{% endif %}">
                <a href="/{{ page.parent }}/">
                    all
                </a>
            </li>
        </ul>
    </nav>
{% endif %}
