<section class="banner--swiper {% if page.slides.size > 1 %}swiper-container{% endif %}">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<!-- Slides -->
			{% for image in page.slides %}
				<section class="swiper-slide" style="background-image: url('{{ image }}')">
				</section>
			{% endfor %}
	</div>
	{% if page.slides.size > 1 %}
		<!-- If we need pagination -->
		<div class="swiper-pagination">
		</div>
		<!-- If we need navigation buttons -->
		<div class="swiper-button-container">
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	{% endif %}
</section>
