{% include head.html %}

<div class="site-wrap">
	<div class="mobile-tray">
		{% include components/mobile-nav.html %}
	</div>
	<div class="site {{ page.layout }}">

        {% include components/header.html %}

        <main class="page-content">
					<h1 class="page-title"> {{ page.title }} </h1>
					<div class="columns">
						<div class="column-left">
						<img src="{{ page.headshot }}">
						</div>
						<div class="column-right">
	            {{ page.content | markdownify }}
						</div>
					</div>
					{% include components/contact-form.html %}
        </main>

        {% include components/footer.html %}

    </div>
</div>
