{% include head.html %}

<div class="site-wrap">
	<div class="mobile-tray">
		{% include components/mobile-nav.html %}
	</div>
	<div class="site {{ page.layout }}">

        {% include components/header.html %}

        <div class="overlap">
        {% include components/banner.html %}
        </div>

        <main class="page-content blog-post">

            {% include components/meta.html%}

			<p class="blog-post__excerpt">
				{{ page.excerpt }}
			</p>

			<div class="blog-post__content">
            	{{ content }}
			</div>

            <a class="back__link" href="/blog"> Back to all posts</a>
        </main>

        {% include components/footer.html %}
    </div>
</div>
