{% include head.html %}

<div class="site-wrap">
	<div class="mobile-tray">
		{% include components/mobile-nav.html %}
	</div>
	<div class="site {{ page.layout }}">

        {% include components/header.html %}

        {% include components/banner.html %}

        <main class="page-content blog-list">
            {% for post in site.posts %}
                <article class="excerpt__block-link">
                    <a href="{{ post.url }}" class="excerpt">
                        <div class="excerpt__header" style="background-image:url({{ post.image }});">
                            {% include components/blog-meta.html%}
                			<h2 class="excerpt__title">{{ post.title }}</h2>
                		</div>
                        <main class="excerpt__body">
                			{{ post.excerpt }}
                			<span class="excerpt__link">Read More</span>
                		</main>
                    </a>
                </article>
            {% endfor %}
        </main>

        {% include components/footer.html %}

    </div>
</div>
