{% include head.html %}

<div class="site-wrap">
	<div class="mobile-tray">
		{% include components/mobile-nav.html %}
	</div>
	<div class="site {{ page.layout }}">

        {% include components/header.html %}


        <main class="page-content blog-post">

			<p class="blog-post__excerpt">
				{{ page.description }}
			</p>

            {% include components/meta.html%}

			<div class="blog-post__content">
            	{{ content }}
			</div>

            <a class="back__link" href="/blog"> Back to all posts</a>
        </main>

        {% include components/footer.html %}
    </div>
</div>
