{% include head.html %}

<div class="site-wrap">
	<div class="mobile-tray">
		{% include components/mobile-nav.html %}
	</div>
	<div class="site {{ page.layout }}">

        {% include components/header.html %}

        {% include components/banner.html %}

        <main class="page-content blog-list">
            {% for post in site.posts %}
                <article class="excerpt__block-link">
                    <a href="{{ post.url }}" class="excerpt">
                        <div class="excerpt__header" style="background-image:url({{ post.image }});">
                            <section class="excerpt__meta">
                                <span class="excerpt__date">{{ post.date | date: "%b %d, %Y" }}</span>
                				{% for category in post.categories %}
                						<span class="excerpt__tag">#{{ category }}</span>
                                {% endfor %}
                			</section>
                			<h2 class="excerpt__title">{{ post.title }}</h2>
                		</div>
                        <main class="excerpt__body">
                			<p class="excerpt__text">
                			    {{ post.excerpt }}
                			</p>
                			<span class="excerpt__link">Read More</span>
                		</main>
                    </a>
                </article>
            {% endfor %}
        </main>

        {% include components/footer.html %}

    </div>
</div>
