{% include head.html %}

{% include components/socials.html %}
<main class="page-content error404">
    <h1 class="message--404">
        <span class="message--404__code">Error: 404.</span>
        <span class="message--404__text">The page you were looking for isn't here.</span>
    </h1>
    <ul class="menu--404">
        <li class="menu--404__link"><a href="#">Go back home</a></li>
        <li class="menu--404__link"><a href="#">See design work</a></li>
        <li class="menu--404__link"><a href="#">See whatever work</a></li>
        <li class="menu--404__link"><a href="#">Read some blogs</a></li>
        <div class="corner"></div>
        <div class="corner"></div>
        <div class="corner"></div>
        <div class="corner"></div>
        <div class="vertical"></div>
        <div class="horizontal"></div>
    </ul>
</main>

{% include components/legal.html %}
