{% include head.html %}

<div class="site-wrap">
	<div class="mobile-tray">
		{% include components/mobile-nav.html %}
	</div>
	<div class="site {{ page.layout }}">
		{% include components/header.html %}

		<main class="page-content homepage" style="background-image: url('https://media.giphy.com/media/xT8qBfjJhOmNPTVWU0/giphy.gif');">
			<div class="homepage__logo">
				{% include svgs/logo.svg %}
				{% include svgs/logo.svg %}
				{% include svgs/logo.svg %}
				{% include svgs/logo.svg %}
			</div>
		</main>

		{% include components/footer.html %}
	</div>
</div>
