{% include head.html %}

<div class="site-wrap">
	<div class="mobile-tray">
		{% include components/mobile-nav.html %}
	</div>
	<div class="site {{ page.layout }}">
		{% include components/header.html %}

		<section class="page-content homepage swiper-container--home">
			<div class="homepage__logo">
				{% include svgs/logo.svg %}
				{% include svgs/logo.svg %}
				{% include svgs/logo.svg %}
				{% include svgs/logo.svg %}
			</div>
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
					{% for image in page.slides %}
						<section class="swiper-slide" style="background-image: url('{{ image }}')">
						</section>
					{% endfor %}
			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination">
			</div>
		</section>

		{% include components/footer.html %}
	</div>
</div>
