{% include head.html %}

<div class="site-wrap">
	<div class="mobile-tray">
		{% include components/mobile-nav.html %}
	</div>
	<div class="site {{ page.layout }} portfolio-page">

		{% include components/header.html %}

		{% include components/swiper.html %}

		<main class="page-content portfolio-detail">
			<div class="portfolio__header">
				<h1 class="portfolio__h1">{{ page.title }}</h1>

				{% include components/meta.html %}
			</div>

		    {{ content }}
		    <a class="back__link" href="/{{ page.categories }}"> Back to {{ page.categories }}</a>
		</main>

		{% include components/footer.html %}

	</div>
</div>
