{% include head.html %}

<div class="site-wrap">
	<div class="mobile-tray">
		{% include components/mobile-nav.html %}
	</div>
	<div class="site {{ page.layout }}">

        {% include components/header.html %}

        {% include components/banner.html %}

        <main class="page-content {{ page.layout }}">
            <!-- <p>{{ page.content }}</p> -->

            <div class="portfolio-grid">
                {% for work in site.portfolio %}
                    {% if page.category == work.category %}
                        {% include components/grid-block.html %}
                    {% endif %}
                {% endfor %}
            </div>
        </main>

        {% include components/footer.html %}

    </div>
</div>
