{% include head.html %}

<div class="site-wrap">
	<div class="mobile-tray">
		{% include components/mobile-nav.html %}
	</div>
	<div class="site {{ page.layout }}">

        {% include components/header.html %}

        <main class="page-content">
					<h1 class="page-title"> {{ page.title }} </h1>
					<div class="columns">
						<div class="column-left">
							{{ page.content | markdownify }}
						</div>
						<div class="column-right">
							{% capture resume %}{% include_relative resume.md %}{% endcapture %}
							{{ resume | markdownify }}
						</div>
					</div>
        </main>

        {% include components/footer.html %}

    </div>
</div>
