.banner {
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 2*$spacing;
    padding-bottom: 2*$spacing;

    @include image-overlay;
    box-shadow: $shadow-inset;

    @include tablet-break {
        padding-top: 3*$spacing;
        padding-bottom: 3*$spacing;
    }

    @include phone-break {
        padding-top: 4*$spacing;
        padding-bottom: 4*$spacing;
    }

    .banner__header {
        margin: 0;
        position: relative;
        z-index: 5;
        text-shadow: $shadow;
        @include grid--container;
        justify-content: center;
        @include header-font;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        font-size: 6em;
        letter-spacing: .025em;
        color: $white;
        text-shadow: $shadow;

        @include tablet-break {
            font-size: 5em;
        }

        @include tablet-break {
            font-size: 3.5em;
        }
    }
}

.overlap {
    .banner {
        .banner__header {
            padding-bottom: 4*$spacing;
        }

        &::after {
            content: '';
            display: block;
            background: $white;
            width: $container-width;
            height: 5*$spacing;
            position: absolute;
            right: 0; bottom: -1*$spacing; left: 0;
            margin: 0 auto;
            z-index: 2;
            box-shadow: $shadow;
        }
    }

    & + .page-content {
        background: $white;
        z-index: 4;
        margin-top: -4*$spacing;
    }

    @include tablet-break {
        .banner {
            .banner__header {
                padding-bottom: 0;
            }

            &::after {
                display: none;
            }
        }

        & + .page-content {
            margin-top: 0;
        }
    }
}

.banner--swiper {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;

    &+ .portfolio-detail  {
        background: $white;
        z-index: 4;
        margin-top: -4*$spacing;
    }

    &::after {
        content: '';
        display: block;
        background: $white;
        width: $container-width;
        height: 5*$spacing;
        position: absolute;
        right: 0; bottom: -1*$spacing; left: 0;
        margin: 0 auto;
        z-index: 2;
        box-shadow: $shadow;

        @include tablet-break {
            display: none;
        }
    }

    @include large-break {
        height: 100vh;

        &+ .portfolio-detail  {
            background: $white;
            z-index: 4;
            margin-top: -0;
        }
    }

    .swiper-wrapper {
        height: 100%;
        width: 100%;

        .swiper-slide {
            height: 100%;
            width:100%;
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .swiper-button-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        z-index: 10;

        .swiper-button-prev, .swiper-button-next {
            cursor: pointer;
            padding: $spacing/2 0;
            width: 3*$spacing;
            background-color: $black;
            display: flex;
            justify-content: center;
            align-items: center;

            @include tablet-break {
                height: 2*$spacing;
            }

            @include phone-break {
                display: none;
            }

            &::before, &::after {
                content: '';
                display: block;
                text-shadow: $shadow;
                width: 0;
                height: 0;
                border-top: $spacing/4 solid transparent;
                border-bottom: $spacing/4 solid transparent;

                border-left: $spacing/3 solid $white;
            }

            &:hover {
                &::before, &::after {
                    @include float;
                }
            }
        }

        .swiper-button-prev {
            &::before, &::after {
                transform: rotate(180deg);
            }
        }
    }

    .swiper-pagination {
        height: 1.5*$spacing;
        width: auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet-break {
            height: 2*$spacing;
        }

        @include phone-break {
            bottom: $spacing;
        }

        .swiper-pagination-bullet {
            display: block;
            cursor: pointer;
            background-color: $secondary-color;
            height: .3em;
            width: .3em;
            padding: .3em;
            margin: 0 .5em;
            border-radius: 100%;

            &-active {
                background-color: $primary-color;
            }

            &:hover {
                @include float;
            }
        }
    }
}
