@mixin button {
    display: block;
    cursor: pointer;
    @include text-link;
}

@mixin button--primary {
    @include button;
    background-color: $darkgrey;
    font-size: 1.5em;
    color: $white;

    &:hover {
        background-color: darken($darkgrey, 5%);
        color: $white;
    }
}

@mixin button--secondary {
    @include button;
    background-color: $yellow;
    @include text-link;
    font-size: 1.125em;
    color: $white;

    &:hover {
        background-color: darken($yellow, 5%);
        color: $white;
    }
}
