@mixin button {
    display: block;
    cursor: pointer;
    @include text-link;
}

@mixin button--primary {
    @include button;
    background-color: $primary-color;
    font-size: 1.5em;
    color: $white;

    &:hover {
        background-color: darken($primary-color, 5%);
        color: $white;
    }
}

@mixin button--secondary {
    @include button;
    background-color: $secondary-color;
    @include text-link;
    font-size: 1.125em;
    color: $white;

    &:hover {
        background-color: darken($secondary-color, 5%);
        color: $white;
    }
}
