$formheight: 250px;

iframe.contact-container {
    border: 0;
    height: $formheight;
    width: 100%;
}

.contact__header {
    @include header-font;
   color: $white;
   @include line-right;
   font-size: 1.75em;
   margin-bottom: $spacing/2;
   text-transform: uppercase;
}

.contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form#contact-form {
        background-color: none;
        height: $formheight;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;

        .contact__row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: $spacing/2;

            &:last-child {
                margin-bottom: 0;
            }

            .contact__row--half {
                display: block;
                width: calc(50% - #{$spacing}/4);
            }

            .contact__row--full {
                display: block;
                width: 100%;
            }
        }

        .contact__row--flex {
            flex: 1;
            align-items: stretch;
        }

        input, textarea {
            font-size: .75em;
            @include body-font;
            border: none;
            padding: $spacing/4;
            border: 2px solid transparent;
            border-radius: 0;
            -webkit-appearence: none;

                &:focus {
                    // background-color: lighten($yellow, 20%);
                    outline: none;
                    border: 2px solid $yellow;
                }
        }

        textarea {
            resize: none;
        }

        .button {
            @include button--secondary;
            border: 0;
            border-radius: 0;
            -webkit-appearance: none;

            &:focus {
                border: 0;
            }
        }
    }

    .contact__message {
        color: $white;
        text-align: center;
        width: 100%;
        font-size: 1.5em;

        a {
            display: block;
            cursor: pointer;
            color: $yellow;
            margin-top: $spacing;

             &:hover {
                 color: $white;
             }
        }
    }
}
