.footer {
        background: $primary-color;

    .footer--pre {
        background: $gray;
        @include grid;
        padding: 0;

        @include tablet-break {
            padding-left: 0;
            padding-right: 0;
        }

        .nav {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            width: 100%;

            @include tablet-break {
                display: block;
                background: $dark-gray;

                .nav__link {
                    border-bottom: 1px solid $primary-color;
                }
            }

            .nav__link {
                flex: 1;

                a {
                    @include nav-font;
                    color: $white;
                    font-size: 1.25em;
                    text-align: center;
                    display: block;
                    width: 100%;
                    padding-top: .5em;
                    padding-bottom: .5em;

                    &:hover {
                        background: $dark-gray;
                    }
                }
            }
        }
    }

    .footer--main {
        @include grid--container;
        padding-top: 2*$spacing;
        padding-bottom: 2*$spacing;

        @include tablet-break {
            max-width: 80vw;
        }

        @include phone-break {
            max-width: 100%;
        }

        .footer__column {
            flex: 1;
            margin-right: $spacing*2;

            &:last-child {
                margin-right: 0;
            }

            @include tablet-break {
                margin-right: 0;
            }

            &.footer__branding {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &.footer__contact {
                flex: 2;
            }
        }

        @include tablet-break {
            display: block;

            .footer__branding {
                width: 100%;
                max-width: 100%;
                margin-bottom: 2*$spacing;
            }

            .footer__contact {
                width: 100%;
                max-width: 100%;
                margin-bottom: 2*$spacing;
            }
        }

        .footer__logo {
            width: 100%;
            height: auto;
            display: block;

            svg {
                width: 100%;
                path.logo {
                    fill: $white;
                }

                text.tagline {
                    display: none;
                }

                path.initials {
                    display: none;
                }

                &:hover {
                    path {
                        fill: $secondary-color;
                    }
                }

                @include tablet-break {
                    display: block;
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;
                }

                @include phone-break {
                    width: 75%;
                }
            }
        }

        .socials {
            padding: 0;
            flex-wrap: wrap;

            @include tablet-break {
                flex-wrap: nowrap;
            }

            li {
                flex: 0 1 25%;

                .social::after {
                    @include tablet-break {
                        margin-top: 0;
                        opacity: .5;
                    }
                }
            }
        }
    }

    .footer--post {
        background: $dark-gray;
        color: $white;
        padding-top: .5em;
        padding-bottom: .5em;
        width: 100%;

        .footer__legal {
            @include grid--container;
            justify-content: center;
            text-align: center;
            @include header-font;
            font-size: .9em;
        }
    }
}

.site.home {
    .footer {
        .nav__link a {
            font-size: 2em;

            @include tablet-break {
                font-size: 1.5em;
            }
        }
    }
}
