.header {
    background: $white;

    &:last-of-type {
        border-bottom: $spacing/4 solid $darkgrey;
    }

    .header--pre {
        background: $darkgrey;

        .socials {
            justify-content: flex-end;
            padding-right: 0;

            @include phone-break {
                padding: 0;
                height: 10px;
            }

            li {
                .social {
                    width: 25px;
                    height: 25px;
                }

                @include tablet-break {
                    display: none;
                }
            }
        }
    }

    .header--main {
        @include grid;
        justify-content: space-between;
        padding-top: $spacing/2;
        padding-bottom: $spacing/2;

        .header__logo {
            height: auto;
            width: 220px;
            margin-top: 10px;
            max-height:70px;

            @include phone-break {
                width: 160px;
            }

            svg {

                path.logo {
                    fill: $darkgrey;
                }

                text.tagline {
                    display: none;
                }

                path.initials {
                    display: none;
                }

                &:hover {
                    path {
                        fill: $yellow;
                    }
                }
            }
        }

        .nav {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include tablet-break {
                display: none;
            }

                .nav__link {
                    a {
                        text-decoration: none;
                        margin-left: .75em;
                        @include nav-font;
                        font-size: 1.5em;
                        color: $darkgrey;

                            &:hover {
                                color: $darkgrey;
                            }
                        }

                    &.active a {
                        color: $yellow;
                    }
                    &:hover a {
                        color: $darkgrey;
                    }
                }
        }
    }

    .header--post {
        background: $darkgrey;
    }
}
