.header {
    background: $white;

    .header--pre {
        background: $yellow;
        border-bottom: $spacing/4 solid $darkgrey;

        .utility-nav {
            @include grid;
            padding-top: $spacing/3;
            padding-bottom: $spacing/3;
            list-style-type:none;
            justify-content:flex-end;

            .link {
              text-transform:uppercase;
              font-weight:200;

                &.active {
                font-weight:900;
                }

                &:hover a {
                  color:white;
                }

                &::after{
                  content:'/';
                  font-weight:400;
                  margin:0 0.5em;
              }

                  &:last-child {
                    &::after {
                      display:none;
                    }
                  }
            }
          }
      }

    .header--main {
        @include grid;
        justify-content: space-between;
        padding-top: $spacing/1;
        padding-bottom: $spacing/1;


        .header__logo {
            height: auto;
            width: 125px;

            @include phone-break {
                width: 160px;
            }

            svg {

                &:hover {
                    path {
                        fill: $yellow;
                    }
                }
            }
        }

        .nav {
            list-style: none;
            padding:0;
            padding-top:50px;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include tablet-break {
                display: none;
            }

                .nav__link {
                    a {
                        text-decoration: none;
                        margin-left: 2em;
                        @include nav-font;
                        font-size: 1.25em;
                        color: $darkgrey;

                            &:hover {
                                color: $yellow;
                            }
                        }

                    &.active a {
                        color: $darkgrey;
                        font-weight:900;
                    }
                    &:hover a {
                        color: $yellow;
                    }
                }
        }
    }

    .header--post {
        @include grid;

        &::after {
          content:'';
          display:block;
          border-bottom: $spacing/15 dotted $darkgrey;
          width:100%;
          margin-bottom: $spacing/1;

      }
    }
}
