.header {
    background: $white;

    &:last-of-type {
        border-bottom: $spacing/4 solid $primary-color;
    }

    .header--pre {
        background: $black;
    }

    .header--main {
        @include grid;
        justify-content: space-between;
        padding-top: $spacing;
        padding-bottom: $spacing;

        @include phone-break {
            padding-top: 2*$spacing;
            padding-bottom: 2*$spacing;
        }

        .header__logo {
            display: flex;
            align-items: center;

            svg {
                height: 100px;
                width: auto;

                @include phone-break {
                    height: auto;
                    width: 25%;
                }

                path, polygon {
                    fill: $black;
                }

                &:hover {
                    path, polygon {
                        fill: $secondary-color;
                    }
                }
            }
        }

        .nav {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include tablet-break {
                display: none;
            }

                .nav__link {
                    a {
                        text-decoration: none;
                        margin-left: .75em;
                    }
                    &.active a {
                        color: $secondary-color;
                    }
                    &:hover a {
                        color: $primary-color;
                    }
                }
        }
    }

    .header--post {
        background: $gray;
    }
}
