$navicon-size: 50px;

.navicon--wrap {
    width: auto;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    display: none;

    @include tablet-break {
        display: flex;
    }

    .navicon {
        display: block;
        background: $primary-color;
        width: $navicon-size;
        height: $navicon-size/10;
        position: relative;
        transition: 0s;
        z-index: 50;

        &::before, &::after {
            content: '';
            width: 100%;
            height: 5px;
            display: block;
            background: $primary-color;
            position: absolute;
        }

        &::before {
            top: -15px;
        }

        &::after {
            bottom: -15px;
        }
    }

    &.open {
        .navicon {
            background: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg);
                transition: transform 2*$transition;
                background: $secondary-color;
            }

            &::after {
                bottom: 0;
                transform: rotate(-45deg);
                transition: transform 2*$transition;
                background: $secondary-color;
            }
        }
    }
}

html {
    overflow-x: hidden;
}

body {
    z-index: 10;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    .site {
        position: relative;
        z-index: 80;
        top: 0;
        right: 0;
        transition: right 2*$transition;
    }
}

.site-wrap {
    transition: transform .75s;
    max-width: 100vw;
    position: relative;
    z-index: 500;
    &.open {
        transform: translateX(calc(-100% + ((4 * #{$spacing})) + #{$navicon-size}));
        .mobile-tray {
            display: block;
        }
        .mobile-nav-overlay {
            display: block;
        }
    }
}

.mobile-nav-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparentize($black, .5);
    z-index: 40;
    display: none;
}

.mobile-nav-wrap {
    background: $primary-color;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 90;
    height: 100%;
    width: calc(100% - ((4 * #{$spacing})) - #{$navicon-size});

    .mobile-nav {
        text-decoration: none;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;

        .mobile-nav__row {
            width: 100%;
            min-height: 1.5*$navicon-size;
            border-bottom: 2px solid transparentize($white, .75);
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            a {
                color: $white;
                @include nav-font;
                font-size: 1.25em;
                padding-left: $spacing;
            }

            .mobile-nav__selector-wrap {
                position: relative;
                right: 0;
                height: 1.5*$navicon-size;
                width: 1.5*$navicon-size;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                &.active {
                    background: $gray;
                    .mobile-nav__selector {
                        transform: rotate(45deg);
                    }
                }

                .mobile-nav__selector {
                    background: $white;
                    width: 50%;
                    height: 3px;

                    &::after {
                        content: '';
                        display: block;
                        background: $white;
                        width: 100%;
                        height: 100%;
                        transform: rotate(90deg);
                    }
                }
            }

            .mobile-subnav {
                width: 100%;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                background: $gray;
                max-height: 0;
                overflow: hidden;

                &.active {
                    max-height: 1000px;
                }

                .mobile-nav__row {
                    height: 1.5*$navicon-size;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    border-bottom: 2px solid transparentize($white, .75);

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }

    .socials {
        justify-content: center;
        margin-top: 5vh;

        li .social svg {
            height: 5vh;
            width: auto;
        }
    }
}
