.portfolio-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -.5*$spacing;
    margin-right: -.5*$spacing;
    width: calc(100% + $spacing);

    .project__block-link {
        box-sizing: border-box;
        padding: $spacing/2;
        display: block;
        flex: 1;
        flex-basis: 25%;
        max-width: 25%;
        //height: calc(33.33333vw - #{$spacing/3});

        .gridblock__image {
          background-size: cover;
          background-position: center center;

        &::after {
          content:'  ';
          display: block;
          padding-top:100%;
          width:100%;
         }
       }

        @include tablet-break {
            flex-basis: 50%;
            max-width:50%;
            //height: calc(50vw - #{$spacing/2});
        }

        @include phone-break {
            flex-basis: 100%;
            max-width:100%;
            //height: calc(100vw - #{$spacing});
        }

        .portfolio-grid-block {
            display: block;
            overflow: hidden;
            position: relative;
            width: 100%;

            &:hover {
              .excerpt__title {
                color:$yellow;
                transition: .1s;
              }
            }

            .portfolio-grid-block__info {
                width: 100%;
                padding: 0 5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 100;
                color: $darkgrey;

                @include tablet-break {
                    max-height: 100%;
                }
            }

            .excerpt__title {
                color: $darkgrey;
                text-align: center;
                margin-bottom: $spacing;
                font-size:.925em;
                display:block;
                width:100%;
                text-transform:uppercase;
                font-weight:900;
                padding-top:5px;
            }

            .meta {
                display: none;
                .meta__date {
                    display: none;
                }

                .meta__category {
                    color: $darkgrey;
                }
                margin-bottom: $spacing/2;
            }

            .excerpt__link {
                display: none;
                color: $darkgrey;
                font-size: 1.125em;

                &:hover {
                    color: $darkgrey;
                }
            }
        }
    }
}
