.recent-posts {

     .recent-posts__header {
         @include header-font;
        color: $white;
        @include line-right;
        font-size: 1.75em;
        margin-bottom: $spacing/2;
        text-transform: uppercase;
    }

    .recent-post {
        padding-bottom: $spacing/4;
        border-bottom: 1px solid $white;
        margin-bottom: $spacing/4;

            &:last-child {
                border-bottom: 0;
            }

            a {
            width: 100%;
            display: flex;
            color: $dark-gray;

            .recent-post__thumbnail {
                display: block;
                height: 75px;
                width: 75px;
                background-size: cover;
                background-position: center center;
            }

            .recent-post__text {
                flex: 1;
                padding-left: $spacing/2;

                .recent-post__title {
                    margin-top: 0;
                    @include header-font;
                    font-size: 1.5em;
                    color: $dark-gray;
                    margin-bottom: $spacing/4;
                }

                .recent-post__link {
                    @include text-link;
                    @include nav-font;
                    color: $dark-gray;

                    &::after {
                        content: ' ▸▸';
                    }
                }
            }

            &:hover {
                .recent-post__link {
                    color: $secondary-color;
                }
            }
        }
    }
}
