.subnav {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .subnav__link {
        flex: 1;

        a {
            color: $white;
            background: $gray;
            text-align: center;
            display: block;
            width: 100%;
            padding-top: .5em;
            padding-bottom: .5em;
            @include nav-font;
            text-decoration: none;

            &:hover {
                background: $black;
            }
        }
    }
}
