.subnav {
    list-style: none;
    margin-top:10px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    @include grid;
    padding: 0;
    margin-bottom: $spacing;
    position: relative;
    color: $darkgrey;

    @include tablet-break {
        width: 50%;
        margin: 0 auto $spacing auto;
        flex-direction: column;
    }

    @include phone-break {
        width: calc(100% - (2*#{$spacing}));
        margin: 0 $spacing $spacing $spacing;
    }

    .subnav__title {
        width: 100%;
        display: none;
        justify-content: space-between;
        align-items: center;
        @include header-font;
        font-size: 1.25em;
        padding-left: $spacing;

        @include tablet-break {
            display: flex;
        }

        .subnav__dropdown--wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            cursor: pointer;

            .subnav__dropdown {
                display: block;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 15px solid $white;
                transition: $transition;
            }
        }
    }

    .subnav__list {
        text-transform: uppercase;
        text-decoration: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        transition: $transition;
        position: relative;

        @include tablet-break {
            max-height: 0;
            overflow: hidden;
            position: absolute;
            z-index: 200;
            top: 100%;
            flex-direction: column;
        }

        @include phone-break {
            position: static;
        }

        .subnav__link {
            flex: 1;
            list-style: none;

            a {
                display: block;
                padding: $spacing/4 $spacing;
                color: $darkgrey;
                text-align:center;
                font-size:.85em;
                font-weight:200;
                border-top:1px solid $darkgrey;
                border-bottom:1px solid $darkgrey;

                &:hover {
                  color: $yellow;
                }

                @include tablet-break {
                    padding: $spacing;
                }
            }
        }
    }

    &.open {
        .subnav__dropdown--wrap {
            .subnav__dropdown {
                transform: rotate(-90deg);
            }
        }
        .subnav__list {
            max-height: 1000px;
        }
    }
}
