.subnav {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;

    @include tablet-break {
        display: none;
    }

    .subnav__link {
        flex: 1;

        a {
            color: $white;
            font-size: 1.25em;
            text-align: center;
            display: block;
            width: 100%;
            padding-top: .5em;
            padding-bottom: .5em;
            @include nav-font;
            text-decoration: none;
        }

        &:hover {
            background: $black;
        }

        &.active {
            background: $primary-color;
        }
    }
}

.subnav--mobile {
    display: none;

    .subnav--mobile__title {
        @include header-font;
        font-size: 1.25em;
    }

    .subnav--mobile__list {
        text-transform: uppercase;
    }
}

.page-content {
    .subnav {
        display: none;
    }

    .subnav--mobile {
        position: relative;

        @include tablet-break {
            display: block;
            width: 50%;
            margin: $spacing 25% $spacing/2 25%;
        }

        @include phone-break {
            width: calc(100% - (2*#{$spacing}));
            margin: $spacing $spacing $spacing/2 $spacing;
        }

        background: $gray;
        color: $white;

        .subnav--mobile__title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: $spacing;

            .subnav--mobile__dropdown--wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 50px;
                cursor: pointer;

                .subnav--mobile__dropdown {
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;

                    border-right: 15px solid $white;
                }
            }
        }

        .subnav--mobile__list {
            text-decoration: none;
            padding: 0;
            margin: 0;
            max-height: 0;
            overflow: hidden;

            @include tablet-break {
                position: absolute;
                width: 100%;
                z-index: 200;
            }

            @include phone-break {
                position: static;
            }

            .subnav--mobile__link {
                background: $black;
                a {
                    display: block;
                    padding: $spacing;
                    color: $white;
                }

                &.active {
                    background: $primary-color;
                }
            }
        }

        &.open {
            .subnav--mobile__dropdown--wrap {
                background: $black;

                .subnav--mobile__dropdown {
                    transform: rotate(-90deg);
                }
            }
            .subnav--mobile__list {
                max-height: 1000px;
            }
        }
    }
}
